template(name='missingMangas')
	+buttonAddMangaForUser
	.clearfix
		.grid
			each mangasList
				+mangas
	each mangasList
		p #{title}
		p #{mangasName}
		p #{author}
		p #{tomeNumber}
		p #{isbn}
		p #{cover}
		p #{releaseDate}
		p #{owned}
		p #{editor}
		p #{version}
		p #{genre}