template(name="tomeDetails")
	.container-fluid
		if Template.subscriptionsReady
			with mangasData
				.page-header
					h1 #{names.fr}
						small {{_ "by"}} #{author}
				.row
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						with tomeData
							.thumbnail
								img(src="#{cover}" alt="#{title}")
								.caption
									h3.text-center #{title}
									p.lead.text-center {{_ "tome"}} #{number} - {{_ "version"}} #{version}
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						.panel.panel-default
							.panel-heading
								p.panel-title {{_ "tomeInformations"}}
							.panel-body
								if title
									p {{_ "tomeTitle"}} : #{title}
								p {{_ "mangasName"}} : #{names.fr}
								p {{_ "author"}} :
									a(href="{{pathFor 'mangaka'}}") #{author}
								p {{_ "genre"}} : #{genre}
								with tomeData
									p {{_ "released"}} : #{displayDate}
									p {{_ "editor"}} : #{editor}
									p {{_ "version"}} : #{version}
								if owned
									.panel.panel-default
										.panel-heading
											p.panel-title {{_ "inBiblio"}}
										.panel-body
											button#setOwnedFalse.btn-block.btn.btn-danger(type="button") {{_ "setOwnedFalse"}}
												span.glyphicon.glyphicon-remove
								else
									.panel.panel-default
										.panel-heading
											p.panel-title {{_ "notInBiblio"}}
										.panel-body
											button#setOwnedTrue.btn-block.btn.btn-success(type="button") {{_ "setOwnedTrue"}}
												span.glyphicon.glyphicon-ok
									.panel.panel-default
										.panel-heading
											p.panel-title {{_ "buyTome"}}
												span.glyphicon.glyphicon-shopping-cart
										.panel-body
											p
												a(href="http://www.amazon.fr/s?field-keywords=#{isbn}" target="blank") {{_ "buyItOnAmazon"}}
											p
												a(href="http://www.priceminister.com/s/#{isbn}" target="blank") {{_ "buyItOnPriceMinister"}}
				if missingTome
					.panel.panel-danger
						.panel-heading
							h2.panel-title {{_ "allTomesMissing"}}
						.panel-body
							#coverList.grid
								each allTomesMissing
									+cover
				if ownedTome
					.panel.panel-success
						.panel-heading
							h2.panel-title {{_ "allTomesOwned"}}
						.panel-body
							#coverList.grid
								each allTomesOwned
									+cover
		else
			+spinner
