template(name="addMangas")
	.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title#myModalLabel {{_ "addAMangas"}}
				.modal-body
					form
						.form-group
							label(for="mangasName") {{_ "manga"}}
							input.form-control.awesomplete#mangasName(type="text" list='mangasList')
							datalist#mangasList
								each mangasList
									option #{mangasName}
						.form-group
							label(for="author") {{_ "author"}}
							input.form-control.awesomplete#author(type="text" list='authorList')
							datalist#authorList
								each authorList
									option #{author}
						.form-group
							label(for="title") {{_ "tomeTitle"}}
							input.form-control#title(type="text")
						.form-group
							label(for="tomeNumber") {{_ "tomeNumber"}}
							input.form-control#tomeNumber(type="number" min="1" value="1")
						.form-group
							label(for="isbn") {{_ "isbnOrBarcode"}}
							input.form-control#isbn(type="text")
						.form-group
							label(for="cover") {{_ "cover"}}
							input.form-control#cover(type="url")
						.form-group
							label(for="releaseDate") {{_ "releaseDate"}}
							input.form-control#releaseDate(type="url")
						.form-group
							label(for="genre") {{_ "genre"}}
							input.form-control.awesomplete#genre(type="text" list='genreList')
							datalist#genreList
								each genreList
									option #{genre}
						.form-group
							label(for="editor") {{_ "editor"}}
							input.form-control.awesomplete#editor(type="text" list='editorList')
							datalist#editorList
								each editorList
									option #{editor}
						.form-group
							label(for="version") {{_ "version"}}
							input.form-control.awesomplete#version(type="text" list='versionList')
							datalist#versionList
								each versionList
									option #{version}
						.form-group
							label
								input#owned(type="checkbox" value="")
								| {{_ "owned"}} ?
				.modal-footer
					button.btn.btn-default.pull-left(type="button" data-dismiss="modal") {{_ "close"}}
					button.btn.btn-success#addMangasInDB(type="button") {{_ "addMangas"}}